@{
    Layout = "Admin_Layout";
}
<div class="my-3 my-lg-5 mx-4 mx-lg-5" id="AdminThemesPage">
</div>

<script>

//function dismissModal(){
// $("#StoryStatusUpdate").modal("hide");
//}
$(document).ready(() => {
    $.ajax({
        url: '/Admin/GetAdminThemes',
        type: 'GET',
        data: {},
        dataType: 'html',
        success: function (data) {
            $("#AdminThemesPage").html(data);
        }
    });

    document.getElementById("menu").getElementsByTagName("li")[4].classList.add("active");
    document.getElementById("menu").getElementsByTagName("li")[4].getElementsByTagName("a")[0].getElementsByTagName("img")[0].src = "/images/themes-active.png";


});
</script>