@{
    Layout = "Admin_Layout";
}
@if (TempData["UserEditError"] != null)
    {
    <div class="alert alert-danger" style="" id="success-alert">
        <strong>Failed!</strong>
        <span class="mb-0">@TempData["UserEditError"]</span>
    </div>
    }
    @if (TempData["UserEditSuccess"] != null)
    {
    <div class="alert alert-success" style="" id="success-alert">
        <strong>Success!</strong>
        <span class="mb-0">@TempData["UserEditSuccess"]</span>
    </div>
    }

<div class="my-3 my-lg-5 mx-4 mx-lg-5" id="AdminUserMain">
    
    @*@Html.Partial("~/Views/Admin/User/UserDetails.cshtml")*@
    @*<partial name="~/Views/Admin/User/UserDetails.cshtml" />*@

</div>

<script>
    
    $(document).ready( () => {
        console.log("ss");
        $.ajax({
            url: '/Admin/GetUsers',
            type: 'GET',
            data: {SearchText: "",
            PageIndex: 1},
            dataType: 'html',
            success:function (data) {
                $("#AdminUserMain").html(data);
            }
        });
        window.setTimeout(function () { 
            $("#success-alert").alert().hide(); 
        }, 2000);
        
    });
</script>
