body {
    color: #414141;
}

.main {
    /* padding-left: 0px;
    padding-right: 0px; */
    margin-right: 0px;
    margin-left: 0px;
}

.dataForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 4.7%;
    padding-right: 4.7%;
}

.carousel-caption {
    text-align: left;
}

.small-text {
    font-size: 14px;
}

.auth-img {
    height: 100%;
    object-fit: cover;
}

.login-btn {
    width: 100%;
    height: 48px;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    color: #F88634;
    border-radius: 24px;
}

    .login-btn:hover {
        background-color: #F88634;
        color: white;
    }

.privacy-policy {
    margin-bottom: 30px;
}

@media screen and (max-width:1199px) {
    .carousel-indicators button {
        height: 15px !important;
        width: 15px !important;
        border-radius: 50%;
    }

    .dataForm {
        margin-top: 30px;
    }

    .l-form,
    .registration-form {
        margin-bottom: 50px;
    }

    .registration-form {
        margin-top: 25px;
    }

    .carousel-item {
        width: 100%;
    }
}

@media screen and (min-width:1199px) {
    .carousel-indicators button {
        height: 20px !important;
        width: 20px !important;
        border-radius: 50%;
    }

    .registration-form {
        margin-top: 30%;
    }

    .l-form {
        margin-top: 60%;
    }
}

@media screen and (max-width:800px) {

    .img-heading {
        font-size: 30px;
        width: 100%;
    }

    .img-discription {
        font-size: 11px;
    }
}

@media screen and (min-width:800px) {
    .img-heading {
        font-size: 30px;
        width: 70%;
    }

    .img-discription {
        font-size: 16px;
    }
}

@media screen and (min-width:1400px) {
    .img-discription {
        display: block;
    }
}

@media screen and (max-width:1400px) {
    .img-discription {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .img-heading {
        font-size: 20px;
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    .img-heading {
        font-size: 15px;
        width: 100%;
    }
}

/*Home page css*/


/* header navbar*/

.profile-image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.dropdown-img {
    width: 11px;
    height: 6px;
}

.header-text {
    color: #333333;
    font-size: 15px;
}

.dropdown-toggle::after {
    content: none;
}

/* -------------------- search-bar ---------------- */
.filter-bar {
    border-bottom: 0.1px solid #E8E8E8;
    border-top: 0.1px solid #E8E8E8;
}

.search-form {
    min-width: 50%;
}

.search-input {
    border: 0px;
}

    .search-input:hover {
        border: 1px solid black;
    }

input#search {
    background-image: url(/images/search.png);
    background-size: 16px;
    background-position: 9px 9px;
    background-repeat: no-repeat;
    text-indent: 20px;
}

    input#search:focus {
        background-image: none;
    }


.filters .filter-item {
    border: 0.1px solid #E8E8E8;
    padding: 10px 0px;
    
}
.filters .filter-item ul {
    max-height: 400px;
    overflow-y: auto;
}
/* ---------------------- fields -------------------- */
.field {
    border: 1px solid #E8E8E8;
    border-radius: 14px;
    width: fit-content;
    margin-right: 15px;
}

.field-text {
    color: #414141;
    margin-right: 5px;
}

@media screen and (max-width: 576px) {
    .field {
        display: none;
    }

    #clearAll {
        display: none;
    }

    .clearAllFilters {
        display: block;
        text-align: center;
    }
}

@media screen and (min-width: 576px) {
    .clearAllFilters {
        display: none;
    }
}

.sort-by-dd {
    box-shadow: 0.97px 0.26px 3px #0000000D;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    height: 38px;

}

#gridButton {
    background-color: #DDDDDD;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
}

#listButton {
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
}
/* ------------------- Grid Cards ---------------- */
.card {
    
    height:100%;
    box-shadow: 0px 0px 25px #0000000F;
}
.list-view .card {
    margin-bottom: 1rem;
    height:auto;
    box-shadow: 0px 0px 25px #0000000F;
}
.list-view .row > [class*='col-'] {
    max-width: 100%;
    flex: 0 0 100%;
}

.list-view .card {
    flex-direction: row;
}



.list-view .card > .card-img-top {
    object-fit: cover;
}

.list-view .card .card-body {
    display: inline-block;
}

.card-img-div {
    position: relative;
}
.card-img-top {
    object-fit: cover;
     width:100%;
    height:100%;
}
.over-buttons {
    border-radius: 18px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.5;
}

.location {
    position: absolute;
    top: 4%;
    right: 4%;
    height: 35px;
    width: fit-content;
    color: white;
}

.add-favourite {
    position: absolute;
    bottom: 4%;
    right: 4%;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    padding: 9px;
}

.square {
    position: absolute;
    right: 4%;
    bottom: calc(42px + 8%);
    border-radius: 50%;
    height: 42px;
    width: 42px;
    padding: 9px;
}

.apply-status-applied {
    position: absolute;
    top: 3%;
    color: white;
    padding: 5px 8px;
    border-radius: 0px 15px 15px 0px;
    background-color: #14C506;
}
.apply-status-passed {
    position: absolute;
    top: 3%;
    color: white;
    padding: 5px 8px;
    border-radius: 0px 15px 15px 0px;
    background-color: red;
}

.card-body {
    display: inline-block;
    padding: 0px;
}

.card-theme {
    position: absolute;
    bottom: -35px;
    border-radius: 18px;
    background-color: white;
    width: fit-content;
    height: 35px;
    color: #414141;
}


.card-disc {
    color: #414141;
}

.card-text {
    color: #757575;
    font-size: 15px;
}

.card-footer {
    background-color: white;
    border: none;
}

.card-rating img {
    height: 20px;
}

.enrol-time {
    margin-top: -30px;
    border: 1px solid black;
    border-radius: 18px;
    background-color: white;
    width: fit-content;
    color: #414141;
    text-align: center;
}

.card-timing {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #E8E8E8;
    /*border-bottom: 1px solid #E8E8E8;*/
    margin-left: 0px;
}

.timing-img {
    height: 25px;
    margin-right: 10px;
}

.progress-bar {
    background-color: #F88634;
}

.card-timing-big {
    font-size: 18px;
    color: #414141;
}

.Apply-mission-btn {
    color: #F88634;
    border-radius: 24px;
    border: 2px solid #F88634;
    height: 48px;
    width: 133px;
    background-color: white;
    font-weight:500;
}
.Apply-mission-btn-div {
    border-top: 1px solid #E8E8E8;
}
.Apply-mission-btn:hover {
    color: white;
    background-color: #F88634;
}
.list-view .Apply-mission-btn{
    display:flex;
    justify-content:center;
    align-items:center;
}
.list-view .Apply-mission-btn img{
    height:60%;
}
#cardEndBtn {
    position:relative;
    bottom:0px;
}
.list-view .card-footer {
    display: flex;
}

.list-view .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 450px) {
    .list-view .card-footer {
        flex-direction: column;
    }
    .list-view .card-timing {
        width: 100%;
        border-bottom: none;
    }
    .list-view .Apply-mission-btn-div {
        border-top: 1px solid #E8E8E8;
        width:100%;
    }
}
@media (min-width: 450px) {
    .list-view .card-footer {
        flex-direction: row;
    }
    .list-view .card-timing {
        width: 65%;
        border-bottom: none;
    }
    .list-view .Apply-mission-btn-div {
        border-top: none;
    }
    
}
@media (max-width: 800px) {
    .list-view .card {
        flex-direction: column;
    }

    .list-view .Apply-mission-btn {
        margin-right: 10px;
        width: 133px;
    }
    .card-img-div, .story-img-div {
        height: 300px;
    }
}
@media screen and (min-width:800px) {

    .list-view .card-img-top {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .list-view .Apply-mission-btn {
        margin-right: 10px;
        width: 133px;
    }

    .list-view .card-body {
        width: 55%;
    }
    .card-img-div, .story-img-div {
        height: 200px;
    }
    .list-view .card-img-div {
        height: auto !important;
        width: 50%;
    }
}

@media screen and (min-width:1400px) {
    .card-img-div, .story-img-div {
        height: 300px;
    }

    .list-view .card-img-div {
        max-height: 350px;
        width: 50%;
    }
    
}

/* Pagination */
.pagination {
    display: inline-block;
}

.pagination a {
    float: left;
    width: 34px;
    height: 34px;
    text-align: center;
    margin: auto;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    color: #757575;
}

.pagination a.active {
    background-color: orange;
    color: white;
}

.pagination :hover {
background-color: #DDDDDD;
}

.Apply-mission-btn {
    color: #F88634;
    border-radius: 24px;
    border: 2px solid #F88634;
    height: 48px;
    width: fit-content;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
}

.Apply-mission-btn:hover {
    color: white;
    background-color: #F88634;
}
/* ------------------------ Volunteering Mission*/
/*.carousel {
    position: relative;
}*/
@media screen and (min-width:1400px){
    .volunteerMissionMain {
        margin-left: 80px !important;
        margin-left: 80px !important;
    }
}
@media screen and (min-width:1500px){
    .volunteerMissionMain {
        margin-left: 90px !important;
        margin-left: 90px !important;
    }
}

.carousel-item img {
    object-fit: cover;
}

.carousel-img-div {
}

#carousel-thumbs {
    background: rgba(255,255,255,.3);
    bottom: 0;
    left: 0;
    padding: 0 0px;
    right: 0;
}

#carousel-thumbs img {
    border: 5px solid transparent;
    cursor: pointer;
}

#carousel-thumbs img:hover {
    border-color: rgba(255,255,255,.3);
}

#carousel-thumbs .selected img {
    border-color: #fff;
}

.carousel-vm .carousel-control-prev,
.carousel-vm .carousel-control-next {
}

.scroll-img {
    object-fit: cover;
    aspect-ratio: 4/3;
}
.thumb img {
    height:100%;
}
@media all and (max-width: 767px) {
    .carousel-container #carousel-thumbs img {
        border-width: 3px;
    }
}

/*@media all and (min-width: 576px) {
    .carousel-container #carousel-thumbs {
        position: absolute;
    }
}*/

@media all and (max-width: 576px) {
    .carousel-container #carousel-thumbs {
        background: #ccccce;
    }
}

.rec-btns {
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #757575;
    border-radius: 25px;
    height: 48px;
    font-weight:500;
}
.favMission {
    background-color: #ff0000;
    border: none;
    color: white;
}
.favMission:hover {
    background-color: #ff4848 !important;
}
.rec-btns div {
    width: 22px;
    height: 22px;
    background-color: #757575;
}

.rec-btns:hover {
    background-color: lightgray;
}
.user-invite-table {
    max-height:50px;
    overflow-y:auto;
}
.rating-bar {
    margin-top: -15px;
    width: fit-content;
    height: fit-content;
    background-color: white;
}

/* tab transfer */
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-color: transparent;
    color: #505050;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border-bottom: 3px solid #414141;
    color: #414141;
    font-weight: 500;
}

.nav-link {
    color: #ADADAD;
    font-size: 15px;
    line-height: 18px;
    padding: 14px 18px;
}

.nav-tabs {
    border-bottom: 1px solid #ADADAD;
}

.tab-content {
    margin-top: 25px;
}

.tab-pane {
    font-size: 15px;
    line-height: 24px;
    color: #3E3E3E;
}

.mission-information {
    height: fit-content;
}

.info-table tr td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.volunteer-profile-img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 70%;
    object-fit: cover;
}

#previous-vol,
#next-vol {
    width: 10%;
    background-color: white;
    border: none;
    border-right: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
}

#commentList {
    overflow-y: auto;
}

@media screen and (min-width:992px) {
    #commentList {
        max-height: 600px;
    }
}

@media screen and (max-width:992px) {
    #commentList {
        max-height: 900px;
    }
}

@media screen and (max-width:768px) {
    #commentList {
        max-height: 600px;
    }
}

.comment img {
    border-radius: 50%;
    aspect-ratio: 1/1;
    max-width: 80px;
    max-height: 80px;
    object-fit: cover;
}

.comment {
    display: flex;
}

@media screen and (min-width:400px) {
    .comment {
        flex-direction: row;
    }
}

@media screen and (max-width:400px) {
    .comment {
        flex-direction: column;
    }
}


/* ------------------ Story Listing ------------------ */


/* Top Section */
.story-listing-img {
    position: relative;
}

.story-img-top {
    width: 100%;
    object-fit: cover;
}

.story-img-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.5;
}

.story-img-text {
    position: absolute;
    top: 30%;
    left: 5%;
    right: 5%;
    color: white;
    opacity: 0.7;
}

.transperentBtn {
    
    border-radius: 24px;
    border: 2px solid white;
    height: 48px;
    width: fit-content;
    background-color: transparent;
    color: white;
    font-weight:500;
}
    .transperentBtn:hover {
        background-color: white;
        color: black;
        font-weight: 500;
    }
/* -------------------- Story Listing ------------------- */
.story-img-div {
    position: relative;
}

.viewStoryDetails {
    display: none;
    position: absolute;
    top: 40%;
}

.story-img-div:hover .viewStoryDetails {
    
    display: block;
    opacity: 0.7;
}

.story-img-div:hover .card-img-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: black;
    opacity: 0.5;
}

@media screen and (min-width:450px) {
    .story-img-top {
        aspect-ratio: 2/1;
    }
}

@media screen and (max-width:450px) {
    .story-img-top {
        aspect-ratio: 1/1;
    }
}

@media screen and (min-width:700px) {
    .story-img-top {
        aspect-ratio: 4/1;
    }
}

/* -------------- Share Story --------------- */

.tox-notifications-container{
    display:none !important;
}
.tox-statusbar__text-container {
    display:none !important;
}

.file {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

output {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    border-radius: 5px;
}

output .image {
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
}

output .image img {
    height: 75px;
    width: 75px;
}

output .image span {
    position: absolute;
    top: -4px;
    right: 4px;
    cursor: pointer;
    font-size: 22px;
    color: white;
}

output .image span:hover {
    opacity: 0.8;
}

output .span--hidden {
    visibility: hidden;
}
/* ------------------ Story Details ---------------- */

.storyViews {
    width: 172px;
    height: 38px;
    display: flex;
   
    border-radius: 19px;
}
.storyViews img{
    /*object-fit:cover;*/
    width:20px;
    height:12px;
}
.storyCardText {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.user-invite-table{
    max-height:500px;
    overflow-y:auto;
}

/* -------------- User Edit Profile -------------- */
.profile-pic {
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
}

.profile-pic input {
    display: none;
}

.profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 80%;
    top: 0px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    z-index: 0;
    aspect-ratio: 1/1;
    padding-bottom:0px;
}

.profile-pic .-label {
    cursor: pointer;
    margin-top: 0px;
    width: 80%;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 50%;
    margin-top:0px;
    aspect-ratio: 1/1;
}

.profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
}

/* Add Skills Modal */

.selectedSkill {
    background-color: #D9D9D9;
}
.SkillList p {
    padding: 5px 10px;
    margin-bottom:5px;
    
}
.SkillList p:hover {
    background-color: #D9D9D9;
}
.addSkillsGrid {
    display: grid;
    
    grid-template-columns: 1fr auto 1fr;
    column-gap: 15px;
}
.addSkillsGrid-col {
    max-height: 70vh;
    overflow-y: auto;
}
.left-right-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* ------------------- Privacy Policy --------------- */
.scrollspy-example {
    position: relative;
    /*height: 200px;*/
    overflow: auto;
}

.nav-item .nav-link:hover {
    color: #333333;

}
.privacy-policy-page {
    position: fixed;
    margin-bottom: 74px;
}
.policy-content {
    overflow-y: scroll;
    
    
}
@media screen and (min-width:1400px){
    .policy-content {
        max-height: 75vh;
    }
}
@media screen and (min-width:576px){
    .policy-content {
        max-height: 70vh;
    }
}
@media screen and (max-width:576px){
    .policy-content {
        max-height: 52vh;
    }
}

/* ------------------ Volunteering Timesheet ----------------- */

.timesheet-box {
    box-shadow: 0px 5px 7px #0000000F;
    min-height: 50vh;
}
#hourTimetable, #goalTimeTable {
    height:350px;
    overflow-y:auto;
    
}

@media screen and (max-width:576px) {
    #addVolHoursModal .modal-dialog, #addVolGoalsModal .modal-dialog {
        min-width: 50vw !important;
    }
    #hourTimetable, #goalTimeTable {
        overflow-x: auto;
    }
}
@media screen and (min-width:576px){
    #addVolHoursModal .modal-dialog,
    #addVolGoalsModal .modal-dialog {
        min-width: 50vw !important;
        max-width: 75vw !important;
    }
}
@media screen and (min-width:1200px) {
    #addVolHoursModal .modal-dialog,
    #addVolGoalsModal .modal-dialog {
        min-width: 55vw !important;
        max-width: 900px !important;
        
    }
}

/* -------------------- Admin ----------------- */


/* ====== sidebar ======= */

.admin-sidebar {
    background-color: #F88634;
    color:white !important;
    /*position:fixed;*/
}
.admin-pages-right-content {
    /*position:relative;*/
}
#menu li a img {
    width: 25px;
    height: fit-content;
}
#menu li {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
#menu li.active {
    background-color: white;
    color: #F88634
}
#menu li.active span {
    color: #F88634
}
#menu li:hover {
    background-color: white;
}
#menu li:hover span {
    color: #F88634;
}
#menu li:nth-child(1) {
    pointer-events:none;
}
#menu li:nth-child(2):hover img{
    content: url("/images/user-icon-active.png");
}
#menu li:nth-child(3):hover img{
    content: url("/images/page-active.png");
}
#menu li:nth-child(4):hover img{
    content: url("/images/bullseye-active.png");
}
#menu li:nth-child(5):hover img{
    content: url("/images/themes-active.png");
}
#menu li:nth-child(6):hover img{
    content: url("/images/skills-active.png");
}
#menu li:nth-child(7):hover img{
    content: url("/images/folder-active.png");
}
#menu li:nth-child(8):hover img{
    content: url("/images/tale-active.png");
}
#menu li:nth-child(9):hover img{
    content: url("/images/folded-ribbon-active.png");
}
#menu li:nth-child(10):hover img{
    content: url("/images/help-active.png");
}

/* ====== Inner Content ======== */
#admin-table {
    width:100%;
}
.admin-table-heading {
    width: fit-content;
    border-bottom: 2px solid #333333;
    color: #333333;
}

#admin-table thead, .admin-form-heading {
    background-color: #E8E8E8;
}

#admin-table tr th {
    padding:15px 15px;
}
#admin-table tr td {
    padding:15px 15px;
}
.status {
    color: #14C506;
}

.tox-toolbar__primary {
    background-color: #E8E8E8 !important;
}
.tox-editor-header {
    background-color: #E8E8E8 !important;
}

#AdminSkillDropdown li:hover {
    background-color: #E8E8E8;
}

.admin-story-viewbtn {
    border: 1px solid #F88634;
    color: #F88634;
    /*pointer-events:none;*/
    font-size:10px;
    border-radius: 13px;
}
    .admin-story-viewbtn:hover {
        color: #F88634;
    }