@{
    Layout = "Admin_Layout";
}

<div class="my-3 my-lg-5 mx-4 mx-lg-5" id="MissionApplicationPage">
    

</div>

<script>
    
    function dismissModal(){
        $("#MissionApplicationUpdate").modal("hide");
    }
    $(document).ready( () => {
        $.ajax({
            url: '/Admin/GetMissionApplications',
            type: 'GET',
            data: {},
            dataType: 'html',
            success:function (data) {
                $("#MissionApplicationPage").html(data);
            }
        });

        document.getElementById("menu").getElementsByTagName("li")[6].classList.add("active");
        document.getElementById("menu").getElementsByTagName("li")[6].getElementsByTagName("a")[0].getElementsByTagName("img")[0].src = "/images/folder-active.png";
        

    });
</script>
