@model CI_Platform.Models.ViewModels.ResetPasswordViewModel;
@{
    Layout = "~/Views/Shared/Auth_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reset Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/custom.js"></script>
</head>

<body>
    <form method="post">
        
    <div class="l-form">
        
        <input type="hidden" name="Token" asp-for="Token" />
        <input type="hidden" name="Email" asp-for="Email" />
        <h3 class="text-center">New Password</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
        <p class="text-center">Please enter a new password in the fields below.</p>
        <div class="mb-3">
            <label asp-for="Password" for="password" class="form-label">Password</label>
            <input asp-for="Password" type="password" name="Password" class="form-control" id="password" placeholder="********" required>
        </div>
        <div class="mb-3">
                <label asp-for="ConfirmPassword" for="confirmPassword" class="form-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" name="ConfirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="********" required>
        </div>

        <button type="submit" class="login-btn my-3">Change Password</button>
        <div class="text-center small">
            <a style="text-decoration: none; color: #414141;" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
        </div>
    </div>
    <div class="privacy-policy text-center small-text">
        <a style="text-decoration: none; color: #414141;" href="">Privacy Policy</a>
    </div>
    </form>
</body>
</html>