@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "Home_Layout";
}
@model CI_Platform.Models.ViewModels.UserProfileViewModel
<form method="post" enctype="multipart/form-data">
<div class="row my-4 mx-3">
    
    <div class="col-xl-2 col-md-3 col-sm-4 d-flex justify-content-center">
        <div class="border px-3 w-100" style="height:fit-content;">
            <div class=" text-center my-4">
                
                <div class="profile-pic">
                    <label asp-for="ProfileImage" class="-label" for="file">
                        <span class="glyphicon glyphicon-camera"></span>
                        <span>Change Image</span>
                    </label>
                    <input asp-for="ProfileImage" id="file" type="file"  onchange="loadFile(event)"/>
                    @if(@Context.Session.GetString("UserAvatar") !=null)
                    {
                        <img class="" src="@Context.Session.GetString("UserAvatar")" alt="volunteer1" id="profileImg"/>
                    }else{
                        <img class="" src="~/images/default-user-icon.jpg" alt="volunteer1" id="profileImg"/>
                    }
                        
                    
                </div>
                <p style="font-size:large; font-weight:500" class="mt-2">Divyesh Kanpariya</p>
                <a data-toggle="modal" data-target="#exampleModal"> Change Password</a>
            </div> 
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                    <button type="button" class="close border-0 bg-white" onclick="clearInpFields()" data-dismiss="modal" aria-label="Close">
                        <i class="btn-close"></i>
                    </button>

                </div>
                <div class="modal-body">
                    <input type="password" class="form-control" id="oldPwd" placeholder="Enter Old Password">
                    <p id="validateOldPwd" class="text-danger small-text"></p>

                    <input type="password" class="form-control" id="newPwd" placeholder="Enter New Password">
                    <p id="validateNewPwd" class="text-danger small-text"></p>

                    <input type="password" class="form-control" id="confirmPwd" placeholder="Enter Confirm Password">
                    <p id="validateCnfPwd" class="text-danger small-text"></p>
                </div>
                <div class="modal-footer">
                   <button class="rec-btns px-4 text-muted" type="button" style="width:fit-content" onclick="cancelChange()">
                        <span class="ps-2">Cancel</span>
                    </button> 
                        <button type="button" formaction="" class="Apply-mission-btn px-4" onclick = "ChangePassword()">Change Password</button>
                  
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-10 col-md-9 col-sm-8 my-4">
        @* ----------- Basic Information --------- *@
        <div>
            <ul class="nav nav-tabs"  role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" type="button" >
                        Basic Information
                    </button>
                </li>
            
            </ul>
            <div class="row ">
                <div class="col-md-6 mt-3">
                    <label class="form-label" asp-for="Name">Name*</label>
                    <input asp-for="Name" name="Name" class="form-control" id="name" placeholder="Enter Your Name" autofocus required>
                    <span asp-validation-for="Name" class="text-danger small-text"></span>
                </div>

                <div class="col-md-6 mt-3">
                    <label class="form-label" asp-for="Surname">Surname*</label>
                    <input asp-for="Surname" name="Surname" class="form-control" id="surname" placeholder="Enter Your Surname" required>
                    <span asp-validation-for="Surname" class="text-danger small-text"></span>
                </div>

                <div class="col-md-6 mt-3">
                    <label class="form-label" asp-for="EmployeeId">Employee ID</label>
                    <input asp-for="EmployeeId" name="EmployeeId" class="form-control" id="employeeId" placeholder="Enter Your Employee ID" >
                    <span asp-validation-for="EmployeeId" class="text-danger small-text"></span>
                </div>

                <div class="col-md-6 mt-3">
                    <label class="form-label" asp-for="Manager">Manager</label>
                    <input asp-validation-for="Manager" name="Manager" class="form-control" id="manager" placeholder="Enter Your Manager Details">
                    <span asp-validation-for="Manager" class="text-danger small-text"></span>
                </div>

                <div class="col-md-6 mt-3">
                    <label class="form-label" asp-for="Title">Title</label>
                    <input asp-for="Title" name="Title" class="form-control" id="title" type="text" placeholder="Enter Your Title">
                    <span asp-validation-for="Title" class="text-danger small-text"></span>
                </div>
                <div class="mt-3 col-md-6">
                    <label class="form-label" asp-for="Department">Department</label>
                    <input asp-for="Department" name="Department" class="form-control" id="department" placeholder="Enter Your Department Details">
                    <span asp-validation-for="Department" class="text-danger small-text"></span>
                </div>
                <div class="mt-3">
                    <label class="form-label" asp-for="MyProfileText">My Profile*</label>
                    <textarea asp-for="MyProfileText" class="form-control" rows=4 id="myProfileText" placeholder="Enter your Comments" required></textarea>
                    <span asp-validation-for="MyProfileText" class="text-danger small-text"></span>
                </div>
                <div class="mt-3">
                    <label class="form-label" asp-for="WhyIVol">Why I Volunteer?</label>
                    <textarea asp-for="WhyIVol" class="form-control" rows=4 id="whyIVol" placeholder="Enter your Comments"></textarea>
                    <span asp-validation-for="WhyIVol" class="text-danger small-text"></span>
                </div>

            </div>
        </div>

        @* -------- Address Information ---------- *@

        <div class="my-4">
            <ul class="nav nav-tabs"  role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" type="button" >
                        Address Information
                    </button>
                </li>
            </ul>
            <div class="row ">
                <div class="col-md-6 mt-3">
                    <label asp-for="City" class="form-label" id="mission">City</label>
                    <select asp-for="City" name="City" id="selectedCity" class="form-select" aria-label=".form-select-lg example">
                        <option value="0" selected>Select Your City</option>
                        
                    
                    </select>
                     <span asp-validation-for="City" class="text-danger small-text"></span>
                </div>
                <div class="col-md-6 mt-3">
                    <label asp-for="Country" class="form-label">Country*</label>
                    <select asp-for="Country" name="Country" id="selectedCountry" class="form-select" aria-label=".form-select-lg example">
                        <option value="0" selected>Select Your Country</option>
                        
                    
                    </select>
                     <span asp-validation-for="Country" class="text-danger small-text"></span>
                </div>
                
            </div>
        </div>

        @* -------- Professional Information ------- *@
        <div class="my-4">
            <ul class="nav nav-tabs"  role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" type="button" >
                        Professional Information
                    </button>
                </li>
            </ul>
            <div class="row ">
                <div class="col-md-6 mt-3">
                    <label asp-for="Availability" class="form-label" id="mission">Availability </label>
                    <select asp-for="Availability" name="Availability" id="selectAvailability"class="form-select" aria-label=".form-select-lg example">
                        <option selected>Select Your Availability</option>
                        <option value="DAILY">DAILY</option>
                        <option value="WEEKLY">WEEKLY</option>
                        <option value="WEEK-END">WEEK-END</option>
                        <option value="MONTHLY">MONTHLY</option>
                        
                    
                    </select>
                     <span asp-validation-for="Availability" class="text-danger small-text"></span>
                </div>
                <div class="col-md-6 mt-3">
                    <label asp-for="LinkedinURL" class="form-label">Linkedin</label>
                    <input asp-for="LinkedinURL" name="LinkedinURL" class="form-control" id="linkedinURL" placeholder="Enter Linkein URL">
                 
                     <span asp-validation-for="LinkedinURL" class="text-danger small-text"></span>
                </div>
            </div>
        </div>

        @* ------ My Skills ------ *@
        <div class="my-4">
            <ul class="nav nav-tabs"  role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" type="button" >
                        My Skills
                    </button>
                </li>
            </ul>
            <div class="row mt-4 mx-1" >
                <div class="border pt-2 text-muted" id="displaySkills">
                    
                </div>
            </div>
            <button class="rec-btns px-4 mt-3 text-muted" type="button" style="width:fit-content" data-toggle="modal" data-target="#exampleModal1">
                <span class="ps-2">Add Skills</span>
            </button> 
        </div>
        <input id="mySkills" type="hidden" value = "" asp-for="MySkills"/>
        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Your Skills</h5>
                        <button type="button" class="close border-0 bg-white" onclick="clearInpFields()" data-dismiss="modal" aria-label="Close">
                            <i class="btn-close"></i>
                        </button>

                    </div>
                    <div class="modal-body ">
                        <div class="addSkillsGrid" >
                            <div class="">
                                <div class="border SkillList px-0 py-2 h-100" id="AllSkillList">

                                </div>
                            </div>
                            <div class="left-right-btns">
                                <div class="text-center" id="removeSkills"><img src="~/images/left.png" alt="Previous" /></div>
                                <div class="text-center" id="addSkills"><img src="~/images/right-arrow1.png" alt="Previous" /></div>
                            </div>
                            <div class="">
                               <div class="border SkillList px-0 py-2 h-100" id="SelectedSkillList">

                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                       <button class="rec-btns px-4 text-muted" type="button" style="width:fit-content" onclick="cancelChange()" id="cancelSkillModal">
                            <span class="ps-2">Cancel</span>
                        </button> 
                            <button type="button" formaction="" class="Apply-mission-btn px-4" id = "saveSkillls">Save</button>
                  
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end my-3">
            <button type="submit" id="saveProfile" formaction="" class="Apply-mission-btn px-4 ">Save</button>
        </div>

    </div>
    
</div>
</form>
<script>
    // ------------- SKillList

    
    var skillArray = [];
    var myskills = [];

    function clearInpFields(){
        document.getElementById("oldPwd").value = "";
        document.getElementById("newPwd").value = "";
        document.getElementById("confirmPwd").value = "";
        document.getElementById("validateOldPwd").innerHTML = "";
        document.getElementById("validateNewPwd").innerHTML = "";
        document.getElementById("validateCnfPwd").innerHTML = "";
    }

    function cancelChange(){
        
        $(".close").click();
    }

    function ChangePassword() {
        var oldPwd = document.getElementById("oldPwd").value;
        var newPwd = document.getElementById("newPwd").value;
        var confirmPwd = document.getElementById("confirmPwd").value;

        if(oldPwd ==""){
            document.getElementById("validateOldPwd").innerHTML = "Please Enter Old Password";
            return;
        }else{
            document.getElementById("validateOldPwd").innerHTML = "";
        }
        if(newPwd ==""){
            document.getElementById("validateNewPwd").innerHTML = "Please Enter New Password";
            return;
        }else{
            document.getElementById("validateNewPwd").innerHTML = "";

        }
        if(confirmPwd ==""){
            document.getElementById("newPwd").value = "";
            document.getElementById("validateCnfPwd").innerHTML = "Please Enter Confirm Password";
            return;
        }else{
            document.getElementById("validateCnfPwd").innerHTML = "";

        }
        if(confirmPwd != newPwd){
            document.getElementById("newPwd").value = "";
            document.getElementById("confirmPwd").value = "";
            document.getElementById("validateCnfPwd").innerHTML = "Old Password and New Password are not Same";
            return;
        }else{
            document.getElementById("validateCnfPwd").innerHTML = "";
        }
        $.ajax({
            url: '/UserProfile/ChangePassword',
            type: 'POST',
            data: {OldPwd: oldPwd,
            NewPwd: newPwd,
            ConfirmPwd: confirmPwd},
            dataType: 'json',
            success:function (data) {
                console.log("success");
                console.log(data);
                if(data[0] == "Password Not Matched"){
                    document.getElementById("oldPwd").value = "";
                    document.getElementById("newPwd").value = "";
                    document.getElementById("confirmPwd").value = "";
                    console.log("data");
                    document.getElementById("validateOldPwd").innerHTML = "Please Enter Correct Old Password";
                }else{
                    $(".close").click();
                }

            },
            error:function(err){
                console.log("errr");
            }
        });
    }

    var loadFile = function (event) {
        console.log(event.target.files[0].name);
        var ext = event.target.files[0].name.match(/\.([^\.]+)$/)[1];
        switch (ext) {
        case 'jpg':
        case 'bmp':
        case 'png':
        case 'jpeg':
            var image = document.getElementById("profileImg");
            image.src = URL.createObjectURL(event.target.files[0]);
            break;
        default:
            alert('File Type Not allowed');
            $("#profileImg").value = '';
        }
    };

    $("#saveSkillls").click(function(){
        var selectedList = document.getElementById("SelectedSkillList").getElementsByTagName("p");
        var ele;
        var id = [];
        $("#displaySkills").empty();
        for(var i=0;i<selectedList.length;i++){
            ele = selectedList[i];
            var p = document.createElement("p");
            p.id = ele.id;
            p.innerHTML = ele.innerHTML;
            document.getElementById("displaySkills").append(p);
            id[i] = ele.id;
        }
        myskills = id;
        document.getElementById("mySkills").value = myskills;
        console.log(myskills);
        $("#cancelSkillModal").click();
    });
    
    $(document).ready(() => {
        // ---------------- Get Countries

        $.ajax({
            url: '/UserProfile/GetCountries',
            type: 'GET',
            data: {},
            dataType: 'json',
            success:function (data) {
                
                var countries = $("#selectedCountry");
                for(var index in data){
                    var option = document.createElement("option");
                    option.value = data[index].CountryId;
                    option.innerHTML = data[index].Name;
                    countries.append(option);
                    
                    
                } 
            }
        });

        // ------------------ Get Cities -------

        $.ajax({
            url: '/UserProfile/GetCities',
            type: 'POST',
            data: {CountryId: "0"},
            dataType: 'json',
            success:function (data) {
                var cities = $("#selectedCity");
                for(var index in data){
                    var option = document.createElement("option");
                    option.value = data[index].CityId;
                    option.innerHTML = data[index].Name;
                    cities.append(option);
                } 
            }
        });
        // ------------------ Get All Skills

        $.ajax({
            url: '/UserProfile/GetSkills',
            type: 'get',
            data: {},
            dataType: 'json',
            success:function (data) {
                skillArray = data;
            }
        });
        // ------------------ Get and Set User Data

        $.ajax({
            url: '/UserProfile/GetUserData',
            type: 'GET',
            data: {},
            dataType: 'json',
            success:function (data) {
                console.log(data);
                document.getElementById("name").value = data[0].Name;

                document.getElementById("surname").value = data[0].Surname;

                if(data[0].EmployeeId != null) document.getElementById("employeeId").value = data[0].EmployeeId;

                if(data[0].Title != null) document.getElementById("text").value = data[0].Title;

                if(data[0].MyProfileText != null) document.getElementById("myProfileText").value = data[0].MyProfileText;

                if(data[0].WhyIVol != null) document.getElementById("whyIVol").value = data[0].WhyIVol;

                document.getElementById("selectedCountry").value = data[0].Country;

                let cityId = data[0].City;
                let CountryId = data[0].Country;

                $.ajax({
                    url: '/UserProfile/GetCities',
                    type: 'POST',
                    data: {CountryId: CountryId},
                    dataType: 'json',
                    success:function (data) {
                        var cities = $("#selectedCity");
                        cities.empty();
                        var option1 = document.createElement("option");
                        option1.value = 0;
                        option1.innerHTML = "Select Your City";
                        cities.append(option1);

                        for(var index in data){
                            var option = document.createElement("option");
                            option.value = data[index].CityId;
                            option.innerHTML = data[index].Name;
                            if(data[index].CityId.toString() == cityId){
                                option.selected = "selected";
                            }
                            cities.append(option);
                        } 
                        
                    
                    }
                });
               if(data[0].LinkedinURL != null) document.getElementById("linkedinURL").value = data[0].LinkedinURL;

               var selectedSkillList = document.getElementById("SelectedSkillList");
               var allSkillList = document.getElementById("AllSkillList");

               myskills = data[0].UserSkills;
               document.getElementById("mySkills").value = myskills;
               //console.log(document.getElementById("mySkills").value);

               if(skillArray.length != 0){
                   for(var i=0;i<skillArray.length;i++){
                       if(data[0].UserSkills.includes(skillArray[i].SkillId.toString())){
                           var p = document.createElement("p");
                           p.id= skillArray[i].SkillId.toString();
                           p.innerHTML = skillArray[i].SkillName;
                           selectedSkillList.appendChild(p);

                           var q = document.createElement("p");
                           q.id= skillArray[i].SkillId.toString();
                           q.innerHTML = skillArray[i].SkillName;
                           document.getElementById("displaySkills").appendChild(q);
                       }else{
                           var p = document.createElement("p");
                           p.id= skillArray[i].SkillId.toString();
                           p.innerHTML = skillArray[i].SkillName;
                           allSkillList.appendChild(p);
                       }
                       
                   }
               }
               $(".SkillList p").click(function(){
                    $(this).toggleClass("selectedSkill");
                });

                $("#removeSkills").click(function(){
                    var x = document.getElementById("SelectedSkillList").getElementsByTagName("p");
                    var i=0;
                    while(i<x.length){
                        console.log(x[i]);
                        if(x[i].classList.contains("selectedSkill")){
                            console.log(x[i]);
                            x[i].classList.remove("selectedSkill");
                            
                            document.getElementById("AllSkillList").appendChild(x[i]);
                
                        }else{
                            i++;
                        }
                    }
                });
                $("#addSkills").click(function(){
                    var x = document.getElementById("AllSkillList").getElementsByTagName("p");
                    var i=0;
                    while(i<x.length){
                            console.log(x[i]);
                        if(x[i].classList.contains("selectedSkill")){
                            console.log(x[i]);
                            x[i].classList.remove("selectedSkill");
                            document.getElementById("SelectedSkillList").appendChild(x[i]);
                
                        }else{
                            i++;
                        }
                    }
                });
                
            }
        });

        // ------------------- Update Cities

        $("#selectedCountry").change( () => {
            var countryId = $("#selectedCountry").val();
            
            $.ajax({
                url: '/UserProfile/GetCities',
                type: 'POST',
                data: {CountryId: countryId},
                dataType: 'json',
                success:function (data) {
                    var cities = $("#selectedCity");
                    cities.empty();
                    var option1 = document.createElement("option");
                    option1.value = 0;
                    option1.innerHTML = "Select Your City";
                    cities.append(option1);

                    for(var index in data){
                        var option = document.createElement("option");
                        option.value = data[index].CityId;
                        option.innerHTML = data[index].Name;
                        cities.append(option);
                      
                    } 
                    
                }

            });

        });
    });
</script>