
@{
    Layout = "Admin_Layout";
}
@model IEnumerable<CI_Platform.Models.ViewModels.AdminCmsPageViewModel>

<div class="my-3 my-lg-5 mx-4 mx-lg-5" id="AdminCmsPage">
    

</div>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    function AddCmsPage(){
        console.log("addcms");
        $.ajax({
            url: '/Admin/AddNewCmsPage',
            type: 'GET',
            data: {},
            dataType: 'html',
            success: function(data){
                $("#AdminCmsPage").html(data);
            }

        });
    }

    function EditCms(id){
        console.log(id)
        $.ajax({
            url: '/Admin/EditCmsPage',
            type: 'GET',
            data: {CmsId: id},
            dataType: 'html',
            success: function(data){
                $("#AdminCmsPage").html(data);
            }

        });
    }

    function DeleteCms(id){
        $("#DeleteCms").modal("show");
        document.getElementById("targetId").value = id;
    }
    function deleteCmsBtn(){
        var x = document.getElementById("targetId").value;
        $.ajax({
            url: '/Admin/DeleteCmsPage',
            type: 'POST',
            data: {CmsId: Number(x)},
            success: function(){
                location.reload();
                
            }
        });
    }
    function dismissModal(){
        $("#DeleteCms").modal("hide");
    }
    $(document).ready( () => {
        $.ajax({
            url: '/Admin/GetCmsPages',
            type: 'GET',
            data: {},
            dataType: 'html',
            success:function (data) {
                $("#AdminCmsPage").html(data);
            }
        });

        document.getElementById("menu").getElementsByTagName("li")[2].classList.add("active");
        document.getElementById("menu").getElementsByTagName("li")[2].getElementsByTagName("a")[0].getElementsByTagName("img")[0].src = "/images/page-active.png";
        

    });

</script>