@*

const jqueryValidate = require("../../wwwroot/lib/jquery-validation/dist/jquery.validate");
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "Home_Layout";
}
@model CI_Platform.Models.ViewModels.ShareYourStoryViewModel
<div class="alert alert-success" style="display:none;" id="success-alert">
   <strong>Success!</strong>
   Story Saved as a Draft Successfully !!!!
</div>
<div class="container mt-4 mb-4">
    <form method="post" enctype="multipart/form-data">
    <div>
            
        <h1 class="h2 mb-4">Share Your Story</h1>
        <div class="row">
            <div class="col mb-3">
                <label asp-for="Mission" class="form-label" id="mission">Select Mission</label>
                <select asp-for="Mission" asp-validation-for="Mission" name="Mission" id="selectedMission"class="form-select" aria-label=".form-select-lg example">
                    <option selected>Select Your Mission</option>
                    
                    
                </select>
                 <span asp-validation-for="Mission" class="text-danger small-text"></span>
                @*<p class="d-none text-danger" id="validateSelectMission"> Please Select Mission </p>*@
                
            </div>
            
            <div class="col mb-3">
                <label asp-for="StoryTitle" class="form-label" for="storyTitle">My Story Title</label>
                <input  asp-for="StoryTitle" asp-validation-for="StoryTitle" name="StoryTitle" class="form-control" id="storyTitle" placeholder="Enter Story Title" autofocus>
                <span asp-validation-for="StoryTitle" class="text-danger small-text"></span>
                @*<p class="d-none text-danger" id="validateStoryTitle"> Please Enter Story Title </p>*@
            </div>
            <div class="col mb-3">
                <label asp-for="Date" class="form-label" for="date">Date</label>
                <input asp-for="Date" name="Date" class="form-control" value="" min="1977-01-01" id="storydate" type="date" id="storyPubDate" placeholder="Select Date">
                <span asp-validation-for="Date" class="text-danger small-text"></span>
               @* <p class="d-none text-danger" id="validateDate"> Please Select Date </p>*@
            </div>
                
        </div>
        <label asp-for="StoryDescription" class="form-label">My Story</label>
        <div class="form-group">
            <textarea asp-for="StoryDescription" name="StoryDescription" id="editor"></textarea>
            <span asp-validation-for="StoryDescription" class="text-danger small-text"></span>
            @*<p class="d-none text-danger" id="validateStoryDesc"> Please Enter Some Text </p>*@

        </div>
        <div >
            <label asp-for="StoryVideoUrl" class="form-label" for="videoURL">Enter Video URL</label>
            <textarea asp-for="StoryVideoUrl" class="form-control" id="videoURL" placeholder="Enter your URL"></textarea>
            <span asp-validation-for="StoryVideoUrl" class="text-danger small-text"></span>
            <span id="valStoryVideoUrl" class="text-danger small-text"></span>

        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Photos" class="form-label">Upload Your Photos</label>
                        <div class="d-flex justify-content-center align-items-center border input-div position-relative" style="height:150px">


                            @*<input asp-for="Photos" id="imageupload" type="file" class="file " multiple="multiple" accept="image/jpeg, image/png, image/jpg"><img src="~/images/drag-and-drop.png" />*@
                            <input asp-for="Photos" id="imageupload"  class="file" accept="image/jpeg, image/png, image/jpg"><img src="~/images/drag-and-drop.png">

                        </div>
                </div>
            </div>
            <span asp-validation-for="Photos" class="text-danger small-text"></span>
            
            <output class="mt-3" id="preview"></output>
        </div>
        <div class="row">
            <div class="py-3 col-6 d-flex">              
                @*<button type="button" class="Apply-mission-btn py-2 text-decoration-none border border-2 text-muted">Cancel</button>*@
                <a class="rec-btns px-4 d-flex  align-items-center text-decoration-none text-muted" type="button"  style="width:fit-content" asp-action="StoryListing" asp-controller="Story">
                    <span class="ps-2">Cancel</span>
                </a>
                
                <a class="rec-btns mx-4 px-4 d-flex d-none align-items-center text-decoration-none text-muted" id="previewStory" style="width:fit-content">
                    <span class="ps-2">Preview</span>
                </a> 
            </div>
              
            <div class="col-6 justify-content-end">
                <div class="d-flex justify-content-end">
                    <div class="py-3 mx-3">         
                        <button type="submit" class="d-none" formaction="@Url.Action("SaveStoryDraft","Story")" id="saveStoryButton"></button>
                        <button type="button" id="saveStory"  class="Apply-mission-btn px-3 py-2 text-decoration-none">Save</button>
                    </div>
                    <div class="py-3 mx-3">   
                        <button type="submit" id="submitStoryButton" class="d-none" formaction="@Url.Action("ShareYourStory","Story")"></button>
                        <button type="button" id="submitStory" class="Apply-mission-btn px-3 py-2 text-decoration-none">Submit</button>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    </form>
        
</div>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $("#saveStory").click( () =>{

        var VideoUrls = document.getElementById("videoURL").value.split("\n");
        document.getElementById("valStoryVideoUrl").innerHTML = ""
        if(!(VideoUrls.length == 1 && VideoUrls[0] == "")){
            for(var i=0;i<VideoUrls.length;i++){
                if(!validateYouTubeUrl(VideoUrls[i])){
                    document.getElementById("valStoryVideoUrl").innerHTML = "All Youtube URLs Must be Valid";
                    return;
                };
            }
        }
        $("#saveStoryButton").click();

    });
    $("#submitStory").click( () =>{
        var VideoUrls = document.getElementById("videoURL").value.split("\n");
        document.getElementById("valStoryVideoUrl").innerHTML = "";
        if(!(VideoUrls.length == 1 && VideoUrls[0] == "")){
            for(var i=0;i<VideoUrls.length;i++){
                if(!validateYouTubeUrl(VideoUrls[i])){
                    document.getElementById("valStoryVideoUrl").innerHTML = "All Youtube URLs Must be Valid";
                    return;
                };
            }
        }
        $("#submitStoryButton").click();
    });
    
    tinymce.init({
        selector: 'textarea#editor',
        //statusbar: false,
        skin: 'bootstrap',
        plugins: 'lists, link, image, media',
        toolbar: ' bold italic strikethrough | superscript subscript removeformat | bullist numlist | h1 h2 h3 h4 h5 h6',
        menubar: false,
    });


    const inputDiv = document.querySelector(".input-div");
    const input = document.querySelector("#imageupload");
    const output = document.querySelector("#preview");
    let imagesArray = [];

    $(document).ready(function(){
        console.log("s");
        $.ajax({
            url: '/Story/GetMissionsOfUser',
            type: 'GET',
            data: {},
            dataType: 'json',
            success:function (data) {
                for(var i=0;i<data.length;i++){
                    var option = document.createElement("option");
                    option.value = data[i][0];
                    option.innerHTML = data[i][1];
                    $("#selectedMission").append(option);
                }
            },
            error: function(req,err) {
                console.log(err);
            }
        });

        $("#selectedMission").change(() => {
            var missionId = $("#selectedMission").val();
            if(missionId != "Select Your Mission"){
                console.log(missionId);
                $.ajax({
                    url: '/Story/GetStoryDetails',
                    type: 'POST',
                    data: { MissionId: missionId},
                    dataType: 'json',
                    success:function (data) {
                        console.log("susccess");     
                        console.log(data);
                        
                        if(data.length != 0){
                            document.getElementById("previewStory").classList.remove("d-none");
                            $("#previewStory").click(function(){
                                window.open("PreviewStory?sid="+data[5][0],"_blank");
                            });

                            document.getElementById("storyTitle").value = data[0][0];
                            let date = String(data[1][0]).split("-");
                            const ddd = new Date(date);

                            const yyyy = date[2];
                            const mm = date[1];
                            const dd = date[0];
                            const formattedDate = `${yyyy}-${mm}-${dd}`;
                            document.getElementById("storydate").value = formattedDate;

                            
                            tinymce.get("editor").setContent(data[2][0]);
                            var url = "";
                            for(var x=0; x<data[3].length;x++){
                                url+=data[3][x];
                                url+="\n";
                            }
                            
                            document.getElementById("videoURL").value = url;
                            

                            
                            var images = ""
                            data[4].forEach((path,index) => {
                                images += `<div class="image">
                                    <img src="${path}" alt="image">
                                    <span onclick="deleteImage(${index})">&times;</span>
                                    </div>`
                            });
                            document.querySelector("#preview").innerHTML = images;
                            function toDataUrl(url, callback) {
                                var newUrl = url;
                                var xhr = new XMLHttpRequest();
                                xhr.onload = function() {
                                    callback(xhr.response);
    
                                };
                                xhr.open('GET', newUrl);
                                
                                xhr.responseType = 'blob';
                                xhr.send();
                            }
                            function rtType(filename){
                                var x= filename.split(".");
                                return x[0]
                            }
                            const dT = new DataTransfer(); 

                            let image;
                            let ext;
                            for(var j=0;j<data[4].length;j++){

                                toDataUrl(data[4][j],function(x){   
                                    image = x;
                                    console.log(image);
                                    
                                    dT.items.add(new File([image], "myfile.png", {
                                        type: "image/png"
                                    }));
                                    imagesArray.push(new File([image], "myfile.png", {
                                        type: "image/png"
                                    }));
                                    //console.log("image: ", dT);
                                
                                document.querySelector('#imageupload').files = dT.files;
                                });
                            }
                            
                            
                        }else{
                            if(!document.getElementById("previewStory").classList.contains("d-none")){
                                document.getElementById("previewStory").classList.add("d-none");
                            }
                            document.getElementById("storyTitle").value = "";
                            document.getElementById("storydate").value = "";
                            tinymce.get("editor").setContent("");
                            document.getElementById("videoURL").value = "";
                            imagesArray = [];
                            fillInp();
                            displayImages();
                        }
                    }
                });
            }
        });
    });
    input.addEventListener("change", () => {

        const files = input.files;
        for (let i = 0; i < files.length; i++) {
            imagesArray.push(files[i])
        }
        //console.log(imagesArray);
        fillInp();
        displayImages();
        
    });

    inputDiv.addEventListener("drop", () => {
        e.preventDefault();
        const files = e.dataTransfer.files;
        for (let i = 0; i < files.length; i++) {
            if (!files[i].type.match("image")) continue;

            if (imagesArray.every(image => image.name !== files[i].name))
                imagesArray.push(files[i]);
        }
        fillInp();
        displayImages();
    });
    function displayImages() {

        let images = "";
        imagesArray.forEach((image, index) => {
            images += `<div class="image">
                <img src="${URL.createObjectURL(image)}" alt="image">
                <span onclick="deleteImage(${index})">&times;</span>
                </div>`
        });
        output.innerHTML = images;
    }
    function fillInp() {
        var dt = new DataTransfer();
        for (let i = 0; i < imagesArray.length && i < 20; i++) {
            dt.items.add(imagesArray[i]);
        }
        document.querySelector("#imageupload").files = dt.files;
        console.log(imagesArray);
    }
    function deleteImage(index) {
        imagesArray.splice(index, 1);
        displayImages();
        fillInp();
        console.log(imagesArray);
    }
    function validateYouTubeUrl(url)
    {
            if (url != undefined || url != '') {
                var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=|\?v=)([^#\&\?]*).*/;
                var match = url.match(regExp);
                if (match && match[2].length == 11) {
                    // Do anything for being valid
                    return true;
                    // if need to change the url to embed url then use below line
                    $('#ytplayerSide').attr('src', 'https://www.youtube.com/embed/' + match[2] + '?autoplay=0');
                }
                else {
                    // Do anything for not being valid
                    return false;
                }
            }
    }
</script>