

    @using CI_Platform.Models.ViewModels
    @*@model CI_Platform.Models.ViewModels.MissionListingViewModel;*@
    @model CI_Platform.Models.ViewModels.MissionListingViewModel

@{
    Layout = "Home_Layout";
}

@Html.Partial("Filters")

<div class="container-fluid" id="viewContainer">
    <div class="row justify-content-between px-4 align-items-center pb-4">
        <div class="col-sm-6 d-flex">
            <p style="font-size:24px;">Explore </p>&nbsp;
            <h2 id="missionCount">@Model.Missions.Count() Missions</h2>
        </div>
        <div class="col-sm-6 d-flex  align-items-center justify-content-end" style="padding-right:0px;">
            <select class="mx-3 px-2 py-1 sort-by-dd text-wrap" id="sortBy">
                <option value='1'>Newest</option>
                <option value='2'>Oldest</option>
                <option value='3'>Lowest available seats</option>
                <option value='4'>Highest available seats</option>
                <option value='5'>My favourites</option>
                <option value='6'>Registration Deadline</option>
                
            </select>
           
            <div>
                <button id="gridButton" class="btn-grid"><img src="~/images/grid.png" /></button>
                <button id="listButton" class="btn-list"><img src="~/images/list.png" /></button>
            </div>
        </div>

    </div>
</div>


@*cards*@


<div id="cardContainer">

</div>

@{
    int pageCount;
    if(Model.MissionCount % 6 == 0)
    {
        pageCount = Model.MissionCount / 6;
    }
    else    
    {
        pageCount = Model.MissionCount / 6 +1;

    }
}
<div id="paginationContainer">
    <div class="pagination d-flex justify-content-center mt-5 mb-5" id="pagination">
        <a id="fr"><img src="~/images/previous.png" alt="Previous" /></a>
        <a id="pre"><img src="~/images/left.png" alt="Previous" /></a>
        @for(var i= 1; i <= @pageCount; i++){
            @if (i == 1)
            {
                <a  class="active pt-1" id="first">@i</a>
            }else{
                <a class="pt-1">@i</a>
            }
        }

        <a id="next"><img src="~/images/right-arrow1.png" alt="Previous" /></a>
        <a id="last"><img src="~/images/next.png" alt="Previous" /></a>
    </div>
</div>


<script>
   

        function updateFilters() {
            var selectedCountries = $('#countries li a input[type=checkbox]:checked').map(function () {
                        return {
                            name : this.name,
                            id : this.value
                        };
                    });
                    //console.log(selectedCountries);

            var selectedCities = $('#cities li a input[type=checkbox]:checked').map(function () {
                return {
                    name: this.name,
                    id: this.value
                };
            });
            //console.log(selectedCities);

            var selectedTheme = $('#themes li a input[type=checkbox]:checked').map(function () {
                return {
                    name: this.name,
                    id: this.value
                };
            });
            //console.log(selectedtheme);

            var selectedSkill = $('#skills li a input[type=checkbox]:checked').map(function () {
                return {
                    name: this.name,
                    id: this.value
                };
            });
            //console.log(selectedskill);
            var filters = $('#selectedFilters');
            filters.empty();
            addSelected(selectedCountries);
            addSelected(selectedCities);
            addSelected(selectedTheme);
            addSelected(selectedSkill);

            var clearall = document.createElement("a");
            clearall.id = "clearAll";
            clearall.classList.add("field-text","my-1","col-auto");
            clearall.style.textDecoration = "none";
            clearall.innerHTML = "Clear All";
            clearall.onclick = clearAll;
        
        
            if ($('#selectedFilters').find('div').length != 0) {
                filters.append(clearall);
            }

        }
    
    function addSelected(selected){
        selected.each(function(){
            var filters = $('#selectedFilters');
            //cityName = currentCity.substring(0, currentCity.indexOf("_"));
            //console.log(this.name);
            //console.log(this.id);

            var main = document.createElement('div');
            main.classList.add("field", "col-auto", "py-1", "mb-3", "px-3");
            main.id = this.name.replaceAll(" ", "");

            var sname = document.createElement('span');
            sname.classList.add("field-text");
            sname.innerHTML = this.name;


            var img = document.createElement("i");
            img.classList.add("bi", "bi-x");
            img.id = "closeFilter";
            img.addEventListener("click", function(){
                console.log(this.parentElement);
                document.getElementById(this.parentElement.id).click();
                this.parentElement.remove();
                applyFilter("1");
            })
            main.appendChild(sname);
            main.append(img);
            filters.append(main);
        });
    }
    
 
    $(document).ready(function () {
        
        $.ajax({
            url: '/Home/GetCards',
            type: 'POST',
            data: {CountryIDs: "", CityIDs: "",ThemeIDs: "",SkillIds: "",SortBy: "1",SearchText:"",PageIndex:"1"},
            dataType: 'html',
            success:function (viewModel) {
                console.log("All");
                $('#cardContainer').html(viewModel);
            }
        });
       

        $('#countries li a input[type=checkbox]').click(function (e) {
            var CountryId = $(this).val();
            console.log(CountryId);
            //console.log(CountryId.substring(CountryId.indexOf("-")+1));
            ////console.log(CountryId);
            //var CountryId = parseInt(CountryId);
            if (e.currentTarget.checked) {

                $.ajax({
                    url: '/Home/GetCityByCountry',
                    type: 'GET',
                    data: { CountryId: CountryId },
                    dataType: 'json',
                    success:function (data) {
                        var cities = $('#cities');
                        if($('#countries').find('li a input[type=checkbox]:checked').length == 1){
                            cities.empty();
                        }
                        //cities.empty();   
                        var items = "";
                        $.each(data, function (i, item) {
                            var li = document.createElement('li');

                            var anc = document.createElement('a');
                            anc.classList.add("dropdown-item");

                            var inp = document.createElement('input');
                            inp.type = "checkbox";
                            inp.id = item.name.replaceAll(' ', '');
                            inp.value = item.cityId;
                            inp.name = item.name
                            inp.classList.add("me-2");


                            var lable = document.createElement('lable');
                            lable.classList.add("form-check-label");
                            lable.setAttribute("for", item.name.replaceAll(' ', ''));
                            lable.innerHTML = item.name;

                            anc.appendChild(inp);
                            $(inp).after($(lable));
                            li.appendChild(anc);

                            cities.append(li);
                            //items += `<li><a class="dropdown-item"><input type="checkbox" name=`+ item.name.replaceAll(' ','') +` class="me-2" id=` + item.name.replaceAll(' ', '') + ` value=` + item.cityId + `><label class="form-check-label" for=`+ item.name.replaceAll(' ', '') +` >` + item.name + `</label></li>`
                            
                        });
                        
                        
                        applyFilter("1");
                        moveToFirstPage();
                        changeCount();

                    }
                });
                
            } else {
                $.ajax({
                    url: '/Home/GetCityByCountry',
                    type: 'GET',
                    data: { CountryId: CountryId },
                    dataType: 'json',
                    success: function (data) {
                        var cities = $('#cities');

                        var items = "";
                        $.each(data, function (i, item) {
                            var id = "#" + item.name.replaceAll(' ', '');
                            console.log(id);
                            $(id).parent().parent().remove();
                        });
                        if($('#cities li').map(function(){return this}).get().join().length == 0){
                            console.log('getall');
                            $.when(getAllCities()).then(applyFilter("1"));
                            changeCount();

                            
                        }else{
                            applyFilter("1");
                            moveToFirstPage();
                            changeCount();

                        }
                            
                    }
                });
            }
            
            
        });

        $('#cityfinal').change(function (e){
            //console.log('ccc');
            applyFilter("1");
            moveToFirstPage();
            changeCount();
        });

        $('#themes li a input[type=checkbox]').click(function (e){
            //console.log("thc");
            applyFilter("1");
            moveToFirstPage();
            changeCount();
        });

        $('#skills li a input[type=checkbox]').click(function (e){
            applyFilter("1");
            moveToFirstPage();
            changeCount();
        });
        $('#sortBy').change(function(){
            applyFilter("1");
            moveToFirstPage();
            changeCount();
            //console.log($(this).val());
        });

        $('#search').keyup(function(){
            applyFilter("1");
            moveToFirstPage();
            changeCount();
        });
        //$('#missionContainer').change(function(){
        //    document.getElementById("missionCount").innerHTML = $('#missionCo').text() + " Missions";

        //});
        //$('addToFavourite').click(function(){
        //    console.log("sss");
        //});
        
        $('#paginationContainer div a').click(function (e){
            //console.log(e.target.id);
            if(e.target.id == "fr"){
                console.log("x");
                moveToFirstPage();
                applyFilter("1");

            }else if(e.target.id == "last"){
                applyFilter(e.target.previousElementSibling.previousElementSibling.innerHTML);
                    //applyFilter();
                 $('#paginationContainer div a').each(function(){
                    var x = $(this);
                    if(x.hasClass('active')){
                        x.removeClass('active');
                    }
                });
                e.target.previousElementSibling.previousElementSibling.classList.add("active");
                
            }else if(e.target.id == "next"){
                
                var y;
                var targetText;
                $('#paginationContainer div a').each(function(){
                    var x = $(this);
                    
                    if(x.hasClass('active')){
                        
                        if(x.text() == e.target.previousElementSibling.innerHTML){
                            y = x;
                            targetText = x.text();
                   
                        }else{
                            targetText = x.next().text();
                        
                            y = x.next();
                        }
                        
                        x.removeClass('active');
                    }
                });
                y.addClass('active');
                console.log(y);
                applyFilter(targetText);

            }else if(e.target.id == "pre"){
                var y;
                var targetText;
                $('#paginationContainer div a').each(function(){
                    var x = $(this);
                    if(x.hasClass('active')){
                        if(x.text() == "1"){
                            y = x;
                            targetText = x.text();
                        }else{
                            y = x.prev();
                            targetText = x.prev().text();
                        }
                        
                        x.removeClass('active');
                        
                        console.log(x.text());
                    }
                });
                y.addClass('active');
            }else{
                $('#paginationContainer div a').each(function(){
                    //console.log(this.classList);
                    var x = $(this);
                    if(x.hasClass('active')){
                        x.removeClass('active');
                    }
                });
                e.target.classList.add('active');
                applyFilter(e.target.innerHTML);
            }
            
            
            //console.log(e.target.parentElement.id);
            
        });
        
         
    });
    
    function changeCount() {
        setTimeout(function(){
            document.getElementById("missionCount").innerHTML = $('#missionCo').text() + " Missions";
            var misssionCountText = $("#missionCo").text();
            var missionCount =  parseInt(misssionCountText);
            console.log(missionCount);
            //$("#pagination").empty();
            //var str = `<a id="fr"><img src="/images/previous.png" alt="Previous" /></a>
            //    <a id="pre"><img src="/images/left.png" alt="Previous" /></a>`;
            //for(var i= 1; i <= (missionCount/9)+1; i++){
            //    if (i == 1)
            //    {
            //        str += `<a  class="active pt-1" id="first">`+ i +`</a>`;
            //    }else{
            //        str += `<a class="pt-1">` + i + `</a>`;
            //    }
            //}
            //str+=`<a id="next"><img src="/images/right-arrow1.png" alt="Previous" /></a>
            //    <a id="last"><img src=" /images/next.png" alt="Previous" /></a>`;
            //    console.log(str);
            //$("#pagination").html(str);

        },1000);

    }
    function moveToFirstPage(){
        var first = $('#first');
        $('#paginationContainer div a').each(function(){
                //console.log(this.classList);
                var x = $(this);
                if(x.hasClass('active')){
                    x.removeClass('active');
                }
            });
        first.addClass('active');

    }
    function getAllCities() {
        $.ajax({
            url: '/Home/getAllCities',
            type: 'GET',
            data: { },
            dataType: 'json',
            success: function (data) {
                var cities = $('#cities');

                //console.log("df");
                $.each(data, function (i, item) {
                    var li = document.createElement('li');

                    var anc = document.createElement('a');
                    anc.classList.add("dropdown-item");

                    var inp = document.createElement('input');
                    inp.type = "checkbox";
                    inp.id = item.name.replaceAll(' ', '');
                    inp.value = item.cityId;
                    inp.name = item.name;
                    inp.classList.add("me-2");


                    var lable = document.createElement('lable');
                    lable.classList.add("form-check-label");
                    lable.setAttribute("for", item.name.replaceAll(' ', ''));
                    lable.innerHTML = item.name;

                            
                    anc.appendChild(inp);
                    $(inp).after($(lable));
                    li.appendChild(anc);

                            
                    cities.append(li);
                });
                        
            }
        });
    }
    function clearAll() {
        console.log("clicked");
        $('input[type=checkbox]:checked').each(function () {
            //console.log($(this));
            //$(this).checked = false;
            $(this).prop('checked', false);
            $('#selectedFilters').empty();

            
        });
        moveToFirstPage();

        $.ajax({
            url: '/Home/GetCards',
            type: 'POST',
            data: {CountryIDs: "", CityIDs: "",ThemeIDs: "",SkillIds: "",SortBy: "1",SearchText:"",PageIndex:"1"},
            dataType: 'html',
            success:function (viewModel) {
                console.log("All");
                $('#cardContainer').html(viewModel);
                console.log(viewModel);

            }
        });
    }
    function applyFilter(pageIndex){
        //console.log("applied")
        var selectedCountryID = $('#countries li a input[type=checkbox]:checked').map(function () {return this.value;}).get().join();
        
        var selectedCityID = $('#cities li a input[type=checkbox]:checked').map(function () {return this.value;}).get().join();

        var selectedThemeID = $('#themes li a input[type=checkbox]:checked').map(function () {return this.value;}).get().join();

        var selectedSkillID = $('#skills li a input[type=checkbox]:checked').map(function () {return this.value;}).get().join();

        var selectedSort = $('#sortBy').map(function(){return this.value;}).get().join();

        var searchText = $('#search').map(function(){return this.value;}).get().join();

        console.log(selectedCountryID);

        if(selectedCityID == "") {
            selectedCityID = $('#cities li a input[type=checkbox]').map(function () {
                return this.value;
            }).get().join();
            
        }
        
        if(selectedCountryID == ""){        
            selectedCountryID = $('#countries li a input[type=checkbox]').map(function () {
                return this.value;    
            }).get().join();
        }

        if(selectedThemeID == ""){
            selectedThemeID = $('#themes li a input[type=checkbox]').map(function () {
                return this.value;
            }).get().join();
        }

        if(selectedSkillID == ""){
            selectedSkillID = $('#themes li a input[type=checkbox]').map(function () {
                return this.value;
            }).get().join();
        }

        $.ajax({
            url: '/Home/GetCards',
            type: 'POST',
            data: {CountryIDs: selectedCountryID,
            CityIDs: selectedCityID,
            ThemeIDs: selectedThemeID,
            SkillIds: selectedSkillID,
            SortBy: selectedSort,
            SearchText: searchText,
            PageIndex: pageIndex},
            dataType: 'html',
            success:function (viewModel) {
                //console.log("success");
                
                $('#cardContainer').html(viewModel);
                
                
            }
            
        });
        
        
        updateFilters();
    }
//    function addtofav(missionid) {
//        //var button = $(this);
//        var x= $(this);
//       console.log(x);
//        //console.log(missionid);
//        //$.ajax({
//        //    url: '/Home/AddToFavourite',
//        //    type: 'POST',
//        //    data: {MissionId: missionid},
//        //    dataType: 'json',
//        //    success:function (viewModel) {
//        //        //console.log(viewModel);
                
                
//        //    }
//        //});
    
//}


</script>