@*

const jqueryValidate = require("../../wwwroot/lib/jquery-validation/dist/jquery.validate");
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "Home_Layout";
}
@model CI_Platform.Models.ViewModels.ShareYourStoryViewModel
<div class="alert alert-success" style="display:none;" id="success-alert">
   <strong>Success!</strong>
   Story Saved as a Draft Successfully !!!!
</div>
<div class="container mt-4 mb-4">
    <form method="post" enctype="multipart/form-data">
    <div>
            
        <h1 class="h2 mb-4">Share Your Story</h1>
        <div class="row">
            <div class="col mb-3">
                <label asp-for="Mission" class="form-label" id="mission">Select Mission</label>
                <select asp-for="Mission" asp-validation-for="Mission" name="Mission" id="selectedMission"class="form-select" aria-label=".form-select-lg example">
                    <option selected>Select Your Mission</option>
                    
                    
                </select>
                 <span asp-validation-for="Mission" class="text-danger"></span>
                @*<p class="d-none text-danger" id="validateSelectMission"> Please Select Mission </p>*@
                
            </div>
            
            <div class="col mb-3">
                <label asp-for="StoryTitle" class="form-label" for="storyTitle">My Story Title</label>
                <input  asp-for="StoryTitle" asp-validation-for="StoryTitle" name="StoryTitle" class="form-control" id="storyTitle" placeholder="Enter Story Title" autofocus>
                <span asp-validation-for="StoryTitle" class="text-danger"></span>
                @*<p class="d-none text-danger" id="validateStoryTitle"> Please Enter Story Title </p>*@
            </div>
            <div class="col mb-3">
                <label asp-for="Date" class="form-label" for="date">Date</label>
                <input asp-for="Date" name="Date" class="form-control" value="" min="1977-01-01" id="storydate" type="date" id="storyPubDate" placeholder="Select Date">
                <span asp-validation-for="Date" class="text-danger"></span>
               @* <p class="d-none text-danger" id="validateDate"> Please Select Date </p>*@
            </div>
                
        </div>
        <label asp-for="StoryDescription" class="form-label">My Story</label>
        <div class="form-group">
            <textarea asp-for="StoryDescription" name="StoryDescription" id="editor"></textarea>
            <span asp-validation-for="StoryDescription" class="text-danger"></span>
            @*<p class="d-none text-danger" id="validateStoryDesc"> Please Enter Some Text </p>*@

        </div>
        <div >
            <label asp-for="StoryVideoUrl" class="form-label" for="videoURL">Enter Video URL</label>
            <textarea asp-for="StoryVideoUrl" class="form-control" id="videoURL" placeholder="Enter your URL"></textarea>
            <span asp-validation-for="StoryVideoUrl" class="text-danger"></span>

        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Photos" class="form-label">Upload Your Photos</label>
                        <div class="d-flex justify-content-center align-items-center border input-div position-relative" style="height:150px">


                            @*<input asp-for="Photos" id="imageupload" type="file" class="file " multiple="multiple" accept="image/jpeg, image/png, image/jpg"><img src="~/images/drag-and-drop.png" />*@
                            <input asp-for="Photos" id="imageupload"  class="file"><img src="~/images/drag-and-drop.png">

                        </div>
                </div>
                @*<span asp-validation-for="Photos" class="text-danger"></span>*@
            </div>

            <output class="mt-3" id="preview"></output>
        </div>
        <div class="row">
            <div class="py-3 col-6">              
                <button type="button" class="Apply-mission-btn py-2 text-decoration-none border border-2 text-muted">Cancel</button>
            </div>
            <div class="col-6 justify-content-end">
                <div class="d-flex justify-content-end">
                    <div class="py-3 mx-3">              
                        <button type="submit" id="saveStory" formaction="@Url.Action("SaveStoryDraft","Home")" class="Apply-mission-btn px-3 py-2 text-decoration-none">Save</button>
                    </div>
                    <div class="py-3 mx-3">           
                        <button type="submit" id="submitStory" formaction="@Url.Action("ShareYourStory","Home")" class="Apply-mission-btn px-3 py-2 text-decoration-none">Submit</button>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    </form>
        
</div>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea#editor',
        //statusbar: false,
        skin: 'bootstrap',
        plugins: 'lists, link, image, media',
        toolbar: ' bold italic strikethrough | superscript subscript removeformat ',
        menubar: false,
    });


    const inputDiv = document.querySelector(".input-div");
    const input = document.querySelector("#imageupload");
    const output = document.querySelector("#preview");
    let imagesArray = [];

    $(document).ready(function(){
        console.log("s");
        $.ajax({
            url: '/Home/GetMissionsOfUser',
            type: 'GET',
            data: {},
            dataType: 'json',
            success:function (data) {
                console.log(data[0][0]);
                for(var i=0;i<data.length;i++){
                    var option = document.createElement("option");
                    option.value = data[i][0];
                    option.innerHTML = data[i][1];
                    $("#selectedMission").append(option);
                }
            },
            error: function(req,err) {
                console.log(err);
            }
        });

        $("#selectedMission").change(() => {
            var missionId = $("#selectedMission").val();
            if(missionId != "Select Your Mission"){
                console.log(missionId);
                $.ajax({
                    url: '/Home/GetStoryDetails',
                    type: 'POST',
                    data: { MissionId: missionId},
                    dataType: 'json',
                    success:function (data) {
                        console.log("susccess");     
                        console.log(data);
                        
                        if(data.length != 0){
                            document.getElementById("storyTitle").value = data[0][0];
                            let date = String(data[1][0]).split("-");
                            const ddd = new Date(date);

                            const yyyy = date[2];
                            const mm = date[1];
                            const dd = date[0];
                            const formattedDate = `${yyyy}-${mm}-${dd}`;
                            document.getElementById("storydate").value = formattedDate;

                            
                            tinymce.get("editor").setContent(data[2][0]);
                            var url = "";
                            for(var x=0; x<data[3].length;x++){
                                url+=data[3][x];
                                url+="\n";
                            }
                            
                            document.getElementById("videoURL").value = url;
                            

                            
                            var images = ""
                            data[4].forEach((path,index) => {
                                images += `<div class="image">
                                    <img src="${path}" alt="image">
                                    <span onclick="deleteImage(${index})">&times;</span>
                                    </div>`
                            });
                            document.querySelector("#preview").innerHTML = images;
                            function toDataUrl(url, callback) {
                                var newUrl = "https://localhost:7172/" + url;
                                var xhr = new XMLHttpRequest();
                                xhr.onload = function() {
                                    callback(xhr.response);
    
                                };
                                xhr.open('GET', newUrl);
                                
                                xhr.responseType = 'blob';
                                xhr.send();
                            }
                            function rtType(filename){
                                var x= filename.split(".");
                                return x[0]
                            }
                            const dT = new DataTransfer(); 

                            let image;
                            let ext;
                            for(var j=0;j<data[4].length;j++){
                                //ext = rtType(data[4][j]);
                                    //console.log(ext);
                                    //console.log(data[4][j].split("."));
                                
                                
                                toDataUrl(data[4][j],function(x){   
                                    image = x;
                                    
                                    
                                    dT.items.add(new File([image], "myfile.png", {
                                        type: "image/png"
                                    }));
                                    imagesArray.push(new File([image], "myfile.png", {
                                        type: "image/png"
                                    }));
                                    //console.log("image: ", dT);
                                
                                document.querySelector('#imageupload').files = dT.files;
                                });
                            }
                            //displayImages();
                            //toDataUrl(data[4][0],function(x){   
                            //    image = x;
                            //    dT.items.add(new File([image], 'myFile.png', {
                            //        type: "image/png"
                            //    }));
                                
                                console.log("image: ", dT);
                                
                            //document.querySelector('#imageupload').files = dT.files;
                            //});
                            
                            
                                console.log("image: ", imagesArray);
                            
                        }
                    }
                });
            }
        });
    });
    input.addEventListener("change", () => {

        const files = input.files;
        for (let i = 0; i < files.length; i++) {
            imagesArray.push(files[i])
        }
        //console.log(imagesArray);
        fillInp();
        displayImages();
        
    });

    inputDiv.addEventListener("drop", () => {
        e.preventDefault();
        const files = e.dataTransfer.files;
        for (let i = 0; i < files.length; i++) {
            if (!files[i].type.match("image")) continue;

            if (imagesArray.every(image => image.name !== files[i].name))
                imagesArray.push(files[i]);
        }
        fillInp();
        displayImages();
    });
    function displayImages() {

        let images = "";
        imagesArray.forEach((image, index) => {
            images += `<div class="image">
                <img src="${URL.createObjectURL(image)}" alt="image">
                <span onclick="deleteImage(${index})">&times;</span>
                </div>`
        });
        output.innerHTML = images;
    }
    function fillInp() {
        var dt = new DataTransfer();
        for (let i = 0; i < imagesArray.length && i < 20; i++) {
            dt.items.add(imagesArray[i]);
        }
        document.querySelector("#imageupload").files = dt.files;
        console.log(imagesArray);
    }
    function deleteImage(index) {
        imagesArray.splice(index, 1);
        displayImages();
        fillInp();
        console.log(imagesArray);
    }
  
</script>