@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
    @*@model CI_Platform.Models.ViewModels.ContactUsViewModel*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CI_Platform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CI_Platform.styles.css" asp-append-version="true" />
   

    <!-- Font Awesome CSS -->
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        
    </header>
    <div class="mainbody">
        <main role="main" class="">
            <div class="container-fluid px-0" class="admin-pages-main">
                <div class="row flex-nowrap g-0 ">
                    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 admin-sidebar">
                        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 mt-4 min-vh-100 ">
                            
                            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">
                                <li class="small-text d-sm-inline d-none">NAVIGATION</li>
                                <li class="nav-item w-100">
                                    <a asp-controller="Admin" asp-action="User" class="nav-link align-middle px-0 text-white d-flex align-items-center">
                                        <img src="/images/user-icon.png" /> <span class="ms-2 d-none d-sm-inline">User</span>
                                    </a>
                                </li>
                                <li class="nav-item w-100">
                                    <a asp-controller="Admin" asp-action="CMSPage" class="nav-link px-0 align-middle text-white d-flex align-items-center">
                                        <img src="/images/page.png" /> <span class="ms-2 d-none d-sm-inline">CMS Page</span> 
                                    </a>
                                    
                                </li>
                                <li class="nav-item w-100">
                                    <a asp-controller="Admin" asp-action="Mission" class="nav-link px-0 align-middle text-white  d-flex align-items-center">
                                       <img src="/images/bullseye.png" /> <span class="ms-2 d-none d-sm-inline">Mission</span>
                                    </a>
                                </li>
                                <li class="nav-item w-100">
                                    <a asp-controller="Admin" asp-action="MissionThemes" class="nav-link px-0 align-middle text-white  d-flex align-items-center">
                                        <img src="/images/themes.png" /> <span class="ms-2 d-none d-sm-inline">Mission Theme</span>
                                    </a>
                                </li>
                                <li class="nav-item w-100">
                                    <a asp-controller="Admin" asp-action="Skills" class="nav-link px-0 align-middle text-white d-flex align-items-center">
                                        <img src="/images/skills.png" /> <span class="ms-2 d-none d-sm-inline">Mission Skills</span> 
                                    </a>
                                        
                                </li>
                                <li class="nav-item w-100">
                                    <a asp-controller="Admin" asp-action="MissionApplications" class="nav-link px-0 align-middle text-white d-flex align-items-cente2">
                                        <img src="/images/folder.png" /> <span class="ms-2 d-none d-sm-inline">Mission Application</span> 
                                    </a>
                                </li>
                                <li class="nav-item w-100">
                                    <a asp-controller="Admin" asp-action="Stories" class="nav-link px-0 align-middle text-white d-flex align-items-center">
                                        <img src="/images/tale.png" /> <span class="ms-2 d-none d-sm-inline">Story</span> </a>
                                </li>
                                <li class="nav-item w-100">
                                    <a class="nav-link px-0 align-middle text-white d-flex align-items-center">
                                        <img src="/images/folded-ribbon.png" /> <span class="ms-2 d-none d-sm-inline">Banner Management</span> 
                                    </a>
                                </li>
                            </ul>
                            <hr>
                            
                        </div>
                    </div>
                    <div class="col admin-pages-right-content">
                        <nav class="navbar  navbar-expand navbar-toggleable bg-white navbar-light bg-white border-bottom" style="box-shadow: 3px 5px 10px #00000014;">
                            <div class="container-fluid">

                                
                                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ms-md-5 ms-sm-3 ms-2">
                                    
                                    <span id="displayTime"></span>
                                    
                                </div>
                                <div class=" dropdown d-flex justify-content-center align-items-center me-3">
                                    <a class="dropdown-toggle  small-text" style="text-decoration:none" data-bs-toggle="dropdown" aria-expanded="false">
                                        @if(@Context.Session.GetString("UserAvatar") != null)
                                        {
                                            <img src="@Context.Session.GetString("UserAvatar")" class="profile-image mx-1" alt="">
                                        }else{
                                            <img src="~/images/default-user-icon.jpg" class="profile-image mx-1" alt="">
                                        }
                        
                                        <span class="mx-1 header-text">@Context.Session.GetString("UserName")</span>
                                        <img src="~/images/drop-down.png" class="mx-1" alt="">
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-lg-right">
                                        <li><a class="dropdown-item" asp-action="UserEditProfile" asp-controller="UserProfile">My Profile</a></li>
                                        <li><a class="dropdown-item" asp-action="VolunteeringTimesheet" asp-controller="UserProfile">Volunteering Timesheet</a></li>
                                        <li><a class="dropdown-item" asp-action="Login" asp-controller="Auth">Logout</a></li>
                                    </ul>

                                </div>
                            </div>
                        </nav>
                        @RenderBody()
                    </div>
                </div>
            </div>
            
        </main>
    </div>
    @*<footer class="border-top footer text-muted py-4">
 
    </footer>*@
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function(){
        display_ct();
    });

    function display_c(){
        var refresh=1000; // Refresh rate in milli seconds
        mytime=setTimeout('display_ct()',refresh)
    }

    function display_ct() {
        var x = new Date();
        document.getElementById('displayTime').innerHTML = getDay(x.getDay()) +", "+ getMonth(x.getMonth()) + " " + x.getDate() + ", " + x.getFullYear() + ", " + x.getHours()+":"+ x.getMinutes()+":"+x.getSeconds() + " AM" ;
        display_c();
    }

    function getDay(x){
        var weekdays = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
        return weekdays[x];
    }

    function getMonth(x){
        var mL = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        return mL[x];
    }

    $("#menu li").click(function(){
        var index = $(this).index();
        var oldIndex = -1;
        var ul = document.getElementById("menu").getElementsByTagName("li");
        for(var i=0;i<ul.length;i++){
            if(ul[i].classList.contains("active")){
                ul[i].classList.remove("active");
                oldIndex = i;
                var Oldimage = ul[i].getElementsByTagName("a")[0].getElementsByTagName("img")[0];
                var srcOld = Oldimage.src;
                var srcnew = srcOld.split("-active")[0] + srcOld.split("-active")[1];
                ul[i].getElementsByTagName("a")[0].getElementsByTagName("img")[0].src = srcnew;

            }
        }
        ul[index].classList.add("active");
        var Noldsrc = ul[index].getElementsByTagName("a")[0].getElementsByTagName("img")[0].src;
        NnewSrc = Noldsrc.split(".")[0] +"-active." + Noldsrc.split(".")[1];
        ul[index].getElementsByTagName("a")[0].getElementsByTagName("img")[0].src = NnewSrc;
    })
</script>
