<div class="nav-item dropdown d-flex align-items-center">
    <a class="nav-link dropdown-toggle text-dark header-text" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="~/images/bell.png" />
    </a>
    <div class="dropdown-menu dropdown-menu-end notification-dropdown " >
        <div id="displayNotifications" class="">
            <div class="d-flex justify-content-between px-2">
                <div>
                    <img src="~/images/settings.png" />
                </div>
                <div>
                    Notification
                </div>
                <div>
                    Clear all
                </div>
            </div>
            <hr/>
            <div>
                <table class="table">
  
                    <tbody>
                    <tr>
                        <td><img src="~/images/add.png"/></td>
                        <td>Otto</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><img src="~/images/add.png"/></td>
                        <td>Thornton</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><img src="~/images/add.png"/></td>
                        <td>the Bird</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div id="notificationSettings" class="d-none">
            <div class="text-center px-2">
                <h6>Notification Settings</h6>
            </div>
            <hr/>
            <div>
                <table class="table">
  
                    <tbody>
                    <tr>
                        <td><img src="~/images/add.png"/></td>
                        <td>Otto</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><img src="~/images/add.png"/></td>
                        <td>Thornton</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><img src="~/images/add.png"/></td>
                        <td>the Bird</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>